:root {
    --header-gray: #222222;
    --body-gray: #444444;
    --text-color: whitesmoke;
    --orange-accent: orange;
    --blue-accent: lightblue;
}

/* RESET */
body, h1, h2, h3, h4, h5, h6, p, a, ul, li, button, input, header, main {
    margin: 0;
    padding: 0;
}

/* FONT */
.roboto-normal {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* DEFAULTS */
body {
    background-color: var(--body-gray);
    color: var(--text-color);
}

h1 {
    font-size: 32px;
}

p {
    font-size: 16px;
}

/* HEADER */
header {
    padding: 30px 15px;

    text-align: center;

    background-color: var(--header-gray);
}

header a {
    color: var(--orange-accent);
}

header a:hover {
    color: var(--blue-accent);
}

/* LIST */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    margin-top: 50px;

    list-style: none;
}

.list-element {
    width: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;

    background-color: var(--header-gray);
    color: gray;
}

.list-element * {
    font-size: 16px;
    padding: 8px 0px;
}

.list-text, #list-text-input {
    width: 300px;

    margin-right: 15px;
    padding-left: 15px;
    border: 2px solid var(--body-gray);
    border-radius: 10px;

    background-color: var(--text-color);
    color: var(--header-gray);
}

.list-date, #list-date-input {
    width: 125px;
    text-align: center;

    margin-right: 15px;
    border: 2px solid var(--body-gray);
    border-radius: 10px;

    background-color: var(--text-color);
    color: var(--header-gray);
}

.list-btn {
    width: 75px;
    text-align: center;

    border: 2px solid var(--body-gray);
    border-radius: 10px;

    background-color: var(--orange-accent);
    color: var(--header-gray);
}

#add-btn {
    background-color: var(--blue-accent);
}

#error-text {
    color: red;
}